$fa-font-path:"webfonts";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";


body {
	text-align:center; background: rgb(167, 167, 167);
	padding-top: 1em;
}

pre {
	text-align: left;
}

.music-button, .global-button, .volume-button, .button, .star-button, .irank-button {
	cursor:pointer;
	display: inline-block;
	@extend %fa-icon;
	@extend .fas;

	text-align:center;
	margin: 2px;
	border-radius: 1em;
}

.music-button, .job-card .button {
	height:2em;
	width:2em;
	line-height:2em;
}

.music-card {
	.action-button, .global-button {
		padding: 0.5em;
		color: white;
		background: #878787;
		margin-bottom:0.5em;
		font-size: 1em;
	}

	.music-button {
		font-size:1.8em;
		background: rgb(87, 131, 197);
		color:white;
		margin-top: 10px;
		margin-bottom: 5px;
	}
}


.music-play:before { content: fa-content($fa-var-play); }
.music-pause:before { content: fa-content($fa-var-pause); }
.music-forward:before { content: fa-content($fa-var-forward); }
.music-backward:before { content: fa-content($fa-var-backward); }

.music-button:active {
	background-color: rgb(127, 180, 236);
}

.volume-slider {
	position: relative;
	border-radius: 20px;
	height:28px;
	margin-top:10px;
	display:inline-block;
	width: 150px;
	margin-left: 0.5em;
	background: #aaa;
	border: 1px solid #aaa;
}

.volume-color {
	height:100%;
	border-radius: 20px;
	background: white;
}

.volume-button {
	padding: 0 7px;
	position: absolute;
	top: 5px;
	color: #656565;
}

.volume-minus {
	left: 3px;
	&:before { content: fa-content($fa-var-minus); }
}
.volume-plus {
	right: 0;
	&:before { content: fa-content($fa-var-plus); }
}

.music-details {
	margin-bottom: 0.4em;
	font-size:1.6em;
	height: 2.2em;
	line-height:1.1em;
	overflow: hidden;
	white-space: nowrap;
	.artist { color: rgb(135, 135, 135); }
	.track { color: #333; }
}

.job-card {
	.output {
		margin: 0; padding:0;
		whitespace:pre;
		color: white;
		border-radius: 0;
		text-align: left;
		max-height: 20em;
		overflow:auto;
		background: transparent;
		border: none;

		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}
}

.section {
	clear: both;
	background: #eee;
	border-radius: 1em;
	padding-bottom:1.5em;
	position:relative;
	border-radius: 10px;
	border: 1px solid rgb(128, 128, 128);
}

.section h2 {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-weight: bold;
	background: rgb(164, 179, 202);
	border-bottom: 1px solid rgb(132, 155, 168);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
	margin-top:0;
	margin-bottom:20px;
}

.clear {
	clear:both;
}

.global-button {
	position: absolute;
	top: 10px;
	right: 10px;
}
.button-reload:before { content: fa-content($fa-var-redo); }

.log {
	text-align: left;
	margin: 1em;
	color: #444;
	div {
		font-family: monospace;
	}
}

.card {
	margin-bottom: 1em;
}

.music-card .card-body {
	background-color: #eee;
}

.irank-ratings {
	position: relative;
	.actions {
		position: absolute;
		top: 10px;
		left: 10px;
		.button {
			height:2.1em;
			width:2.1em;
			display:block;
			margin-bottom: 1em;
		}
		.button-save {
			background: #5783c5;
			&:before { content: fa-content($fa-var-check); }
		}

		.button-cancel {
			background: #e6adad;
			&:before { content: fa-content($fa-var-times); }
		}
	}

	.grid {
		font-size: 1.5em;
		// max-width: 600px;
		margin: 20px auto 0 auto;
		display:grid;
		grid-template-columns: 1fr 1fr;
		// column-gap: 0.6em;
		// row-gap: 0.1em;
		.rating-name, .rating-value {
			padding-top: 0.05em;
			padding-bottom: 0.05em;
		}
		.rating-name {
			color: #9d9d9d;
			padding-right: 0.6em;
			// border: 1px solid red;
			text-align: right;
			// grid-row-start: 1;
		}

		.rating-value {
			// border: 1px solid green;
			// grid-row-start: 2;
			text-align: left;
			white-space: nowrap;
		}

		.star-button {
			color: #62666d;
			padding: 0.2em 2px;
			&.empty {
				color: #b6b6b6;
				@extend .far;
			}
			&:before {
				content: fa-content($fa-var-star);
			}
			&:first-child {
				opacity: 0.4;
				font-size: 0.7em;
				position: relative;
				bottom: 0.06em;
				&:before {
					content: "\25cb";
				}
			}
			&:hover {
				color: black;
				@extend .fas;
			}
			&:active {
				color: #62666d;
			}
		}

		.pending {
			opacity: 0.5;
			background: #fff;
			// color: #ad3c3c;
			// background: #f8f8f8;
		}
	}

}

.job-card {
	&.empty .card-body {
		padding: 0;
	}
	.button {
		background: white;
		color: #474c50;
		margin-top: 0;
		margin-bottom: 0;

		&.job-run:before { content: fa-content($fa-var-play); }
		&.job-stop:before { content: fa-content($fa-var-stop); }
		&.job-list:before { content: fa-content($fa-var-list); }
	}

	.card-header {
		line-height: 2em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		.text {
			font-size: 1.3em;
		}
	}

	.controls {
		float: right;
		display: inline-block;
	}
}

.job {
	//padding: 0 1em;
	color: white;

	h3 {
		background: rgb(87, 87, 87);
		border-radius: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;
		padding: 0.3em;
		margin-top:1em;
		border-bottom: 1px solid rgb(116, 116, 116);
		font-size: 1.4em;
		font-weight: bold;
	}

	.invisible {
		visibility: hidden;
	}

	&.running h3 {
		background: rgb(48, 134, 26);
		border-color: rgb(91, 173, 70);
	}

	.ctl {
		clear: both;
		padding: 0.5em;
		padding-bottom: 1em;
		padding-top: 0;
		background: #333;
		margin: 0 0 2em 0;
	}

	.output {
		margin: 0; padding:0;
		whitespace:pre;
		color: white;
		border-radius: 0;
		text-align: left;
		max-height: 20em;
		overflow:auto;
		background: transparent;
		border: none;

		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}

	.kill {
		background: rgb(228, 66, 66);
		margin-right:1em;
		float: right;
	}

	.ctl .glyphicon {
		font-size:1.5em;
	}
}
